* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e7f3ff;
}

/* NAVBAR */
.navbar {
    width: 95%;
    margin: 20px auto;
    padding: 18px 30px;
    background: #4B0ACE;
    color: #fff;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 35px;
}

.menu li {
    cursor: pointer;
    font-size: 18px;
}

.search-icon, .close-icon {
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

/* SEARCH BAR SECTION */
#searchBar {
    width: 95%;
    margin: 15px auto;
    padding: 18px 30px;
    background: #4B0ACE;
    color: white;
    border-radius: 15px;

    display: none;
    align-items: center;
    justify-content: space-between;
}

.search-box input {
    width: 450px;
    padding: 13px 20px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    outline: none;
}
